
.blabla {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #5e5e5d;
}

.blabla h1,
.blabla h2,
.blabla h3,
.blabla h4,
.blabla h5,
.blabla img,
.blabla ul,
.blabla p {
    margin: 0 0 30px 0;
}

.blabla h1:last-child,
.blabla h2:last-child,
.blabla h3:last-child,
.blabla h4:last-child,
.blabla h5:last-child,
.blabla img:last-child,
.blabla ul:last-child,
.blabla p:last-child {
    margin-bottom: 0;
}

.blabla h1 {
    font-size: 50px;
    font-weight: normal;
    color: #7258a1;
}

.blabla h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: #7258a1;
}

.blabla ul {
    padding-left: 60px;
    color: #eb5f3a;
    list-style-type: none;
}

.blabla li {
    color: #5e5e5d;
    margin-bottom: 10px;
}

.blabla img {
    display: block;
}

.blabla .alignleft {
    float: left;
    margin-right: 20px;
    margin-left: -200px;
}

.blabla .alignright {
    float: right;
    margin-left: 20px;
}

.blabla .aligncenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.blabla .wp-caption {
    position: relative;
}

.blabla .wp-caption img {
    width: 100%;
}

.blabla .wp-caption-text {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 11px;
    color: #fff;
    line-height: 1.3;
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
    padding: 2px 5px;
    background-color: rgba(0,0,0,.5);
}