@charset "UTF-8";

/*
Name: Normalize
URL: http://github.com/Darklg/CSSNormalize
Version: 1.4
License: MIT
*/

/* ----------------------------------------------------------
   Règlages de base
   ------------------------------------------------------- */

body,
html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
}

.lt_ie7 body {
    height: 100%;
}

/* Prevents sub and sup affecting line-height in all browsers | gist.github.com/413930 */
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}

/* bicubic resizing for non-native sized IMG | code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.lt_ie8 img { -ms-interpolation-mode: bicubic; }
/* Aligne les images inline sur le texte */
img,input[type=image]{vertical-align:bottom;}
/* Curseur adéquat pour les boutons */
input[type="submit"],input[type="image"],button{cursor:pointer;}

/* ----------------------------------------------------------
   Typo
   ------------------------------------------------------- */

body {
    font: 62.5%/1 sans-serif;
    color: #5e5e5d;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    line-height: 1.2;
    display: block;
}

.blabla {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #5e5e5d;
}

.blabla h1,
.blabla h2,
.blabla h3,
.blabla h4,
.blabla h5,
.blabla img,
.blabla ul,
.blabla p {
    margin: 0 0 30px 0;
}

.blabla h1:last-child,
.blabla h2:last-child,
.blabla h3:last-child,
.blabla h4:last-child,
.blabla h5:last-child,
.blabla img:last-child,
.blabla ul:last-child,
.blabla p:last-child {
    margin: 0 0 0 0;
}

.blabla h1 {
    font-size: 50px;
    font-weight: normal;
    color: #7258a1;
}

.blabla h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: #7258a1;
}

.blabla ul {
    padding-left: 60px;
    color: #eb5f3a;
    list-style-type: none;
}

.blabla li {
    color: #5e5e5d;
    margin-bottom: 10px;
}

/* Note
   ----------------------- */

.blabla h5,
.note {
    background: #fef9c7;
    color: #8d7825;
    font-weight: normal;
    padding: 30px 30px 30px 60px;
    font-size: 16px;
    line-height: 1.7;
    position: relative;
}

.blabla h5:after,
.note:after {
    content: "Note";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 6px;
    text-transform: uppercase;
    font-weight: bold;
    background: #f9ec6e;
    font-size: 12px;
}


table {
    width: 100%;
}

/* ----------------------------------------------------------
   Liens
   ------------------------------------------------------- */

a {
    color: #7258a1;
}

a:hover {
    color: #7258a1;
}

/* ----------------------------------------------------------
   Transitions
   ------------------------------------------------------- */

.trans-color,
a {
    -webkit-transition: color .2s, background-color .2s, border-color .2s;
    -moz-transition: color .2s, background-color .2s, border-color .2s;
    -ms-transition: color .2s, background-color .2s, border-color .2s;
    -o-transition: color .2s, background-color .2s, border-color .2s;
    transition: color .2s, background-color .2s, border-color .2s;
}

.aimg,
.aimginv,
.trans-opacity,
a img {
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
}

.trans-all {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}