/* ----------------------------------------------------------
   Logo
   ------------------------------------------------------- */

.thenew-logo {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.thenew-logo,
.thenew-logo .demi {
  border-width: 20px;
}

.thenew-logo,
.thenew-logo:after,
.thenew-logo .demi:before,
.thenew-logo .demi:after,
.thenew-logo .demi {
  border-color: #7258a1;
  border-style: solid;
}

.thenew-logo {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.thenew-logo .demi {
  position: absolute;
  width: 22%;
  height: 22%;
  border-bottom: 30px solid transparent;
  border-left: 30px solid transparent;
  border-radius: 30px;
}

.thenew-logo:after,
.thenew-logo .demi:before,
.thenew-logo .demi:after {
  content: '';
  position: absolute;
  border-width: 10px;
  border-radius: 20px;
}

.thenew-logo .demi:before {
  top: -46%;
  left: -46%;
  width: 10px;
  height: 0;
}

.thenew-logo .demi:after {
  right: -46%;
  bottom: -46%;
  width: 0;
  height: 10px;
}

.thenew-logo .t:after {
  right: -43%;
}

.thenew-logo:after {
  top: 40%;
  left: 13%;
  width: 18%;
  height: 0;
}

.thenew-logo .t {
  top: 25%;
  left: 12%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.thenew-logo .n {
  top: 30%;
  right: 12%;
}

/* hover */

.thenew-logo:hover,
.thenew-logo:hover:after,
.thenew-logo:hover .demi:before,
.thenew-logo:hover .demi:after,
.thenew-logo:hover .demi {
  border-color: #69C;
}

/* Animations */

.thenew-logo,
.thenew-logo:after,
.thenew-logo .demi,
.thenew-logo .demi:before,
.thenew-logo .demi:after {
  -moz-transition: border-color .4s ease-in-out;
  -o-transition: border-color .4s ease-in-out;
  transition: border-color .4s ease-in-out;
}

.thenew-logo:hover .demi {
  border-bottom: 30px solid transparent;
  border-left: 30px solid transparent;
}


/*Logo 100*/
.thenew-logo.logo-100 {
  width: 100px;
  height: 100px;
}
.thenew-logo.logo-100,
.thenew-logo.logo-100 .demi {
  border-width: 10px;
}
.thenew-logo.logo-100::after,
.thenew-logo.logo-100 .demi::before,
.thenew-logo.logo-100 .demi::after {
  border-width: 5px;
}
.thenew-logo.logo-100:hover .demi,
.thenew-logo.logo-100 .demi {
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  border-radius: 15px;
}
