@charset "UTF-8";

html {
}

body {
    font-family: 'Georgia',serif;
    background-color: #ddd;
}

.main {
    position: relative;
    max-width: 1040px;
    margin: 0 auto;
    padding: 40px 0;
    color: #5e5e5d;
    background-color: #efefef;
}

.v-wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* ----------------------------------------------------------
 Header
 ------------------------------------------------------- */

.header {
    display: table;
    z-index: 10;
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: 40px;
    padding: 10px;
}

.header .thenew-logo {
    width: 200px;
    height: 200px;
}

.home .baseline {
    text-align: center;
    font-family: 'Quicksand',sans-serif;
    font-weight: bold;
}

.home .baseline p {
    font-size: 34px;
    opacity: .9999;
}

.container {
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 300px;
}

/* ----------------------------------------------------------
   Layout
   ------------------------------------------------------- */

.wrapper {
    display: table;
    width: 100%;
}

.sidenav {
    position: fixed;
    z-index: 2;
    bottom: 0;
    display: table-cell;
    width: 120px;
    padding: 0 40px 40px 20px;
    text-align: right;
    vertical-align: top;
    background-color: #efefef;
    background-color: rgba(239, 239, 239, .95);
}

.sidenav .thenew-logo {
    width: 100px;
    height: 100px;
}

.sidenav .menu {
    padding: 20px 0 20px 0;
    text-align: left;
}

.sidenav .menu li {
    text-align: center;
    position: relative;
    height: 30px;
    position: relative;
    cursor: pointer;
    width: 120px;
}

/*.sidenav .menu.fx-closed li:hover .mask,*/
.sidenav .menu li .mask {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 120px;
    overflow: hidden;
    transition: all .4s cubic-bezier(.8,.4,.4,.4);
    transform: translateZ(0);
}

.sidenav .menu li + li .mask {
    transition-delay: .2s;
}

.sidenav .menu li + li + li .mask {
    transition-delay: .4s;
}

/*.sidenav .menu.fx-closed li:hover .mask {
    transition-delay: 0s;
}
*/
.sidenav .menu .mask a {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -60px;
    height: 30px;
    line-height: 30px;
    width: 120px;
    text-transform: uppercase;
    font-family: 'Quicksand',sans-serif;
    color: #7258a1;
    font-size: 24px;
    font-weight: bold;
    opacity: 1;
    background-color: #efefef;
    transition: opacity .4s cubic-bezier(.8,.4,.4,.4) .3s;
}

.sidenav .menu .mask .blog-link {
    margin-left: -65px;
}

.sidenav .menu .mask .works-link {
    margin-left: -50px;
}

.sidenav .menu .mask .profile-link {
    margin-left: -51px;
}

.sidenav .menu.fx-closed .mask {
    position: relative;
    width: 20px;
    border-radius: 50%;
    /*font-size: 14px;*/
    /*font-weight: 900;*/
}

.sidenav .menu.fx-closed .mask a {
    opacity: 0;
}

.sidenav .menu .mask .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -2px;
    display: block;
    width: 2px;
    height: 2px;
    background-color: #eadffb;
    box-shadow: 0 0 0 4px rgba(114,88,161,.1), 0 0 2px 2px rgba(114,88,161,.4), 0 0 0 2px rgba(114,88,161,.4);
    border-radius: 50%;
}

.sidenav .menu.fx-closed .fx-over .mask {
    width: 120px;
    border-radius: 0;
    transition-duration: .2s;
    transition-delay: 0s;
}

.sidenav .menu.fx-closed .fx-over .mask a {
    opacity: 1;
    transition: opacity .2s cubic-bezier(.8,.4,.4,.4) 0;
}

.main-col {
    z-index: 1;
    margin-left: 200px;
    padding: 0 20px;
}

.post-list {
    padding: 20px;
}

.posts-list .post-loop {
    margin-bottom: 60px;
}

.posts-list .post-loop + .post-loop {
    border-top: 3px solid #ddd;
    padding-top: 30px;
}

.post-title {
    position: relative;
}

.post-title a:after {
    border: none;
}

.post-title a:first-child {
    height: 2px;
    bottom: 0;
    top: auto;
    line-height: 0;
}

.post-title:hover a:first-child {
    width: 42%;
}

@media only screen and (max-width: 1000px) {
    .sidenav {
        width: 20px;
    }
    .main-col {
        padding-left: 160px;
    }
}

/* ----------------------------------------------------------
   Overview
   ------------------------------------------------------- */

.main-col .overview {
    width: 200px;
    height: 100px;
    position: absolute;
    left: -20px;
    top: 0;
    border: 3px solid black;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all .2s cubic-bezier(.8,.4,.4,.4) 1s;
    transition: all .2s cubic-bezier(.8,.4,.4,.4) 1s;
}

.main-col .overview.active {
    opacity: 1;
    -webkit-transition: all .2s cubic-bezier(.8,.4,.4,.4);
    transition: all .2s cubic-bezier(.8,.4,.4,.4);
}

.main-col .overview iframe {
    width: 250px;
    height: 250px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    zoom: 0.15;
    -webkit-transform: scale(0.75);
    -moz-transform:scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

.main-col .overview .title {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #efefef;
    color: #333;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
}

/* ----------------------------------------------------------
   Single
   ------------------------------------------------------- */

.single-thumb {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 1040px;
    height: 400px;
    overflow: hidden;
}

.single-thumb .bg {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 1040px;
    height: 400px;
}

.single .main-col {
    position: relative;
    margin-top: 120px;
    background-color: #efefef;
    background-color: rgba(239, 239, 239, .95);
    padding-top: 20px;
}

.single-post .post-content {
    margin-bottom: 30px;
}

.single-post .post-metas {
    height: 30px;
    font-family: 'Consolas', sans-serif;
    font-size: 14px;
    position: relative;
}

.single-post .post-metas .border {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    color: #7258a1;
    font-weight: bold;
    font-size: 27px;
}

.single-post .post-metas .metas {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 5px 10px 5px 26px;
    height: 20px;
    line-height: 20px;
}

/* ----------------------------------------------------------
   Page CV
   ------------------------------------------------------- */


