@charset "UTF-8";

/*
Colors
    #7258a1
    rgba(114,88,161,.1)
Animations
    cubic-bezier(.8,.4,.4,.4)
*/

body {
    font-family: 'Georgia',serif;
    background-color: #ddd;
    overflow-y: scroll;
}

.main {
    min-height: 100%;
    position: relative;
    max-width: 1040px;
    margin: 0 auto;
    color: #5e5e5d;
    background-color: #efefef;
}

.v-wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* ----------------------------------------------------------
   Layout
   ------------------------------------------------------- */

.main,
.js-ajax-content,
.wrapper {
    width: 100%;
    min-height: 100%;
}

.main {
    overflow: hidden;
}

.main-col {
    /*margin-left: 200px;*/
    /*padding: 40px 20px;*/

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 100%;
    padding-left: 200px;
    /*overflow: hidden;*/
    -webkit-perspective: 100px;
    perspective: 100px;
}

.main-col-push {
    height: 0;
}

.single-layout .main-col-push {
    height: 120px;
}

.main-col-content {
    padding: 40px 20px;
    background-color: #efefef;
    background-color: rgba(239, 239, 239, .95);
}

.main-col-content.single-content {
    /*background-color: #efefef;*/
    /*background-color: rgba(239, 239, 239, .95);*/
    /*padding-top: 20px;*/
    /*min-height: 400px;*/
}

.single-content-top {
    /*height: 120px;*/
}


/* ----------------------------------------------------------
 Header
 ------------------------------------------------------- */

.header {
    display: table;
    z-index: 10;
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: 40px;
    padding: 10px;
}

.header .thenew-logo {
    width: 200px;
    height: 200px;
}

/* ----------------------------------------------------------
   Index
   ------------------------------------------------------- */

.front-page-block {
    text-align: center;
    position: relative;
}

.front-page-block .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -400px;
    left: 0;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.front-page-block .wrapper {
    width: 100%;
    max-width: 1040px;
    padding: 80px 0 50px;
    margin: 0 auto;
}

.home .main {
    box-shadow: 0 0 30px 10px #ddd;
}

.front-page-block .baseline {
    margin: 0 auto 50px;
    font-size: 34px;
    opacity: .9999;
    font-family: 'Quicksand',sans-serif;
    font-weight: bold;
}

.front-page-block p {
    font-size: 34px;
    line-height: 1.4;
    opacity: .9999;
}

.front-page-block .home-footer {
    margin: 10px auto;
    text-align: center;
    font-family: 'Quicksand',sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.container {
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 300px;
}

/* ----------------------------------------------------------
   Sidenav
   ------------------------------------------------------- */

.sidenav {
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 120px;
    padding: 0 40px 40px 20px;
    text-align: right;
    vertical-align: top;
    background-color: #efefef;
    background-color: rgba(239, 239, 239, .95);
}

.sidenav .thenew-logo {
    width: 100px;
    height: 100px;
    transition: opacity .3s cubic-bezier(.8,.4,.4,.4) .7s;
}

.sidenav.js-focus-mode .thenew-logo {
    opacity: .1;
}

.sidenav .menu {
    padding: 20px 0 20px 0;
    text-align: left;
}

.sidenav .menu li {
    text-align: center;
    position: relative;
    height: 30px;
    position: relative;
    cursor: pointer;
    width: 120px;
}

/*.sidenav .menu.fx-closed li:hover .mask,*/
.sidenav .menu li .mask {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 120px;
    overflow: hidden;
    transition: all .4s cubic-bezier(.8,.4,.4,.4);
    transform: translateZ(0);
}

.sidenav .menu li + li .mask {
    transition-delay: .2s;
}

.sidenav .menu li + li + li .mask {
    transition-delay: .4s;
}

/*.sidenav .menu.fx-closed li:hover .mask {
    transition-delay: 0s;
}
*/
.sidenav .menu .mask a {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -60px;
    height: 30px;
    line-height: 30px;
    width: 120px;
    text-transform: uppercase;
    font-family: 'Quicksand',sans-serif;
    color: #7258a1;
    font-size: 24px;
    font-weight: bold;
    opacity: 1;
    transition: opacity .4s cubic-bezier(.8,.4,.4,.4) .3s;
}

.sidenav .menu .mask .blog-link {
    margin-left: -65px;
}

.sidenav .menu .mask .works-link {
    margin-left: -50px;
}

.sidenav .menu .mask .profile-link {
    margin-left: -51px;
}

.sidenav .menu .mask .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -2px;
    display: block;
    width: 2px;
    height: 2px;
    background-color: #fff;
    box-shadow: 0 0 0 7px rgba(114,88,161,.1), 0 0 1px 1px rgba(114,88,161,.5), 0 0 6px 2px rgba(114,88,161,.5);
    border-radius: 50%;
    opacity: 0;
    transition: opacity .4s cubic-bezier(.8,.4,.4,.4) .3s;
}

.sidenav .menu.fx-closed .mask {
    position: relative;
    width: 20px;
    border-radius: 50%;
    /*font-size: 14px;*/
    /*font-weight: 900;*/
}

.sidenav .menu.fx-closed .mask a {
    opacity: 0;
}

.sidenav .menu.fx-closed .mask .dot {
    opacity: 1;
}

.sidenav .menu.fx-closed .fx-over .mask {
    width: 120px;
    border-radius: 0;
    transition-duration: .2s;
    transition-delay: 0s;
}

.sidenav .menu.fx-closed .fx-over .mask a {
    opacity: 1;
    transition: opacity .2s cubic-bezier(.8,.4,.4,.4) 0;
}

.sidenav .menu.fx-closed .fx-over .mask .dot {
    opacity: 0;
    transition: opacity .2s cubic-bezier(.8,.4,.4,.4) 0;
}

.sidenav .menu .blog-item {
    opacity: .9999;
    transition: opacity .2s cubic-bezier(.8,.4,.4,.4);
}

.home .sidenav .menu .blog-item {
    opacity: 0;
}

/* ----------------------------------------------------------
   Posts
   ------------------------------------------------------- */

.post-list {
    padding: 20px;
}

.posts-list .post-loop {
    margin-bottom: 50px;
}

.posts-list .post-loop .post-title {
    margin-bottom: 20px;
}

.posts-list .post-loop .thumb {
    margin-bottom: 10px;
}

.posts-list .post-loop + .post-loop {
    position: relative;
    padding-top: 40px;
}

.posts-list .post-loop + .post-loop:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 50%;
    width: 340px;
    margin-left: -170px;
    border-top: 3px solid #ddd;
}

.posts-list .post-loop + .post-loop:after {
    content: '';
    position: absolute;
    top: -4px;
    left: 50%;
    display: block;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    border: 3px solid #ddd;
    box-shadow: 0 0 0 15px #efefef;
    background-color: #efefef;
    border-radius: 50%;
}

.post-title {
    position: relative;
}

.post-title a:after {
    border: none;
}

.post-title a:first-child {
    height: 2px;
    bottom: 0;
    top: auto;
    line-height: 0;
}

.post-title:hover a:first-child {
    width: 42%;
}

@media only screen and (max-width: 1000px) {
    .sidenav {
        width: 20px;
    }
    .main-col {
        padding-left: 160px;
    }
}

/* ----------------------------------------------------------
   Overview
   ------------------------------------------------------- */

.main-col .overview {
    width: 200px;
    height: 100px;
    position: absolute;
    left: -20px;
    top: 0;
    border: 3px solid black;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all .2s cubic-bezier(.8,.4,.4,.4) 1s;
    transition: all .2s cubic-bezier(.8,.4,.4,.4) 1s;
}

.main-col .overview.active {
    opacity: 1;
    -webkit-transition: all .2s cubic-bezier(.8,.4,.4,.4);
    transition: all .2s cubic-bezier(.8,.4,.4,.4);
}

.main-col .overview iframe {
    width: 250px;
    height: 250px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    zoom: 0.15;
    -webkit-transform: scale(0.75);
    -moz-transform:scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

.main-col .overview .title {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #efefef;
    color: #333;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
}

/* ----------------------------------------------------------
   Single
   ------------------------------------------------------- */

.single-thumb .bg,
.single-thumb {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 1040px;
    height: 400px;
    overflow: hidden;
}

.single-thumb .bg {
    background-position: center top;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-size: 1040px auto;
    background-attachment: fixed;
}

.page .post-content,
.single-work .post-content,
.single-post .post-content {
    margin-bottom: 30px;
}

.page .post-metas,
.single-work .post-metas,
.single-post .post-metas {
    height: 30px;
    font-family: 'Consolas', sans-serif;
    font-size: 14px;
    position: relative;
}

.page .post-metas .border,
.single-work .post-metas .border,
.single-post .post-metas .border {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    color: #7258a1;
    font-weight: bold;
    font-size: 27px;
}

.page .post-metas .metas,
.single-work .post-metas .metas,
.single-post .post-metas .metas {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 5px 10px 5px 26px;
    height: 20px;
    line-height: 20px;
}

/* ----------------------------------------------------------
   Archives
   ------------------------------------------------------- */

.archives-title {
    background-color: #666;
}

.archives-title h1 {
    height: 32px;
    line-height: 20px;
    color: #efefef;
    box-shadow: 2px 2px 4px rgba(0,0,0,.1) inset;
    background-color: #7258a1;
    background-color: rgba(114, 88, 161, .6);
    padding: 0 10px 0 72px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    letter-spacing: 8px;
    font-variant: small-caps;
    text-transform: lowercase;
    text-shadow:
      -1px -1px 0 rgba(20,20,20,.2),
      1px 1px 1px rgba(20,20,20,.18),
      2px 1px 1px rgba(20,20,20,.16),
      3px 2px 1px rgba(20,20,20,.13),
      4px 2px 1px rgba(20,20,20,.10),
      5px 3px 1px rgba(20,20,20,.08),
      6px 4px 1px rgba(20,20,20,.06),
      7px 5px 1px rgba(20,20,20,.04),
      8px 5px 1px rgba(20,20,20,.02);
}

.archives-title .sep {
    position: relative;
    font-size: 22px;
    top: 4px;
    font-weight: normal;
}

/* ----------------------------------------------------------
   Archives works
   ------------------------------------------------------- */

.works-list {
    margin: 0 -70px -20px 0;
}

.works-list .work-loop {
    float: left;
    width: 220px;
    margin: 0 70px 20px 0;
    text-align: center;
}

.works-list .work-loop .thumb {
    position: relative;
    width: 202px;
    height: 202px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 5px;
}

.works-list .work-loop .thumb:hover {
    /*box-shadow: 20px 20px 1px rgba(0,0,0,.5);*/
}

.works-list .work-loop .thumb a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    width: 202px;
    height: 202px;
    border-radius: 50%;
    border: 4px solid #7258a1;
    border: 4px solid rgba(114, 88, 161, .6);
    transition: border .2s cubic-bezier(.8,.4,.4,.4);
}

.works-list .work-loop .thumb a:focus,
.works-list .work-loop .thumb a:hover {
    border: 8px solid rgba(114, 88, 161, .9);
}

.works-list .work-loop .thumb .post-tags {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    width: 202px;
    height: 202px;
    padding: 6px 4px 0 6px;
    border-radius: 50%;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    text-align: left;
    opacity: .1;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    line-height: .9;
    font-weight: bold;
    font-size: 36px;
    color: #efefef;
    color: rgba(239,239,239,.9);
    transition: opacity .2s cubic-bezier(.8,.4,.4,.4), background-color .2s cubic-bezier(.8,.4,.4,.4);
}

.works-list .work-loop .thumb:hover .post-tags {
    opacity: .8;
    background-color: rgba(114, 88, 161, .4);
}

.works-list .work-loop .thumb img {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 200px;
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
}

.works-list .work-title {
    font-size: 32px;
    line-height: 1.1;
    text-transform: none;
    height: 35px;
    overflow: hidden;
    margin-bottom: 5px;
}

/* ----------------------------------------------------------
   Page 404
   ------------------------------------------------------- */

.no-content,
.e404-title {
    text-align: center;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    letter-spacing: 10px;
    margin: 10px auto 60px;
    font-variant: small-caps;
    text-transform: lowercase;
    text-shadow:
      -1px -1px 0px rgba(20,20,20,.05),
      1px 1px 1px rgba(20,20,20,.17),
      2px 2px 1px rgba(20,20,20,.16),
      4px 3px 1px rgba(20,20,20,.13),
      6px 4px 1px rgba(20,20,20,.10),
      7px 5px 1px rgba(20,20,20,.08),
      8px 6px 2px rgba(20,20,20,.06),
      10px 7px 2px rgba(20,20,20,.04),
      11px 8px 2px rgba(20,20,20,.02),
      12px 9px 4px rgba(20,20,20,.01),
      15px 10px 5px rgba(20,20,20,.01);
}

.minishorts-list {
}

.minishorts-list .minishort-loop {
    float: left;
    width: 160px;
    height: 160px;
    background-color: #bbb;
}

.minishort-loop {
    position: relative;
}

.minishort-loop a {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
    background-color: #7258a1;
    background-color: rgba(114, 88, 161, .1);
    transition: background-color .3s cubic-bezier(.8,.4,.4,.4);
}

.minishort-loop:nth-child(odd) a {
    background-color: rgba(114,88,161,.6);
}

.minishort-loop:nth-child(even) a {
    background-color: rgba(114,88,161,.4);
}

.minishort-loop:nth-child(odd):hover a {
    background-color: rgba(114,88,161,.9);
}

.minishort-loop:nth-child(even):hover a {
    background-color: rgba(114,88,161,.75);
}

.minishort-loop .thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.minishort-loop .post-title {
    color: #fefefe;
    font-size: 27px;
    line-height: 1.1;
    word-wrap: break-word;
    text-overflow: ellipsis;
    hyphens: auto;
    text-shadow:
      1px 1px 1px rgba(114,88,161,.37),
      2px 2px 1px rgba(114,88,161,.36),
      3px 2px 1px rgba(114,88,161,.33),
      5px 3px 1px rgba(114,88,161,.30),
      6px 3px 1px rgba(114,88,161,.28),
      7px 4px 2px rgba(114,88,161,.26),
      8px 5px 2px rgba(114,88,161,.24);
}

.minishort-loop .post-metas {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

/* ----------------------------------------------------------
   Page CV
   ------------------------------------------------------- */
