@charset "UTF-8";

body {
  font-family: 'Georgia',serif;
  color: #eee;
  background-color: #222;
}

.v-wrapper {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* ----------------------------------------------------------
 Header
 ------------------------------------------------------- */

.header {
  display: table;
  z-index: 10;
  position: relative;
  width: 100%;
  height: 250px;
  margin-bottom: 40px;
  padding: 10px;
}

.home .baseline {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-style: italic;
}

.container {
  display: table;
  width: 100%;
  height: 100%;
  padding-top: 300px;
}