@charset "UTF-8";

html {
}

body {
    font-family: 'Georgia',serif;
    background-color: #ddd;
}

.main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1040px;
    margin: 0 auto;
    padding: 40px 20px;
    color: #5e5e5d;
    background-color: #efefef;
}

.v-wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* ----------------------------------------------------------
 Header
 ------------------------------------------------------- */

.header {
    display: table;
    z-index: 10;
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: 40px;
    padding: 10px;
}

.header .thenew-logo {
    width: 200px;
    height: 200px;
}

.home .baseline {
    text-align: center;
    font-family: 'Quicksand',sans-serif;
    font-weight: bold;
}

.home .baseline p {
    font-size: 34px;
    opacity: .9999;
}

.container {
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 300px;
}

/* ----------------------------------------------------------
   Layout
   ------------------------------------------------------- */

.wrapper {
    display: table;
    width: 100%;
}

.sidenav {
    position: fixed;
    z-index: 2;
    bottom: 20px;
    display: table-cell;
    width: 120px;
    padding: 0 20px 20px 0;
    text-align: right;
    vertical-align: top;
}

.sidenav .thenew-logo {
    width: 100px;
    height: 100px;
}

.sidenav .menu {
    padding-top: 20px;
    text-align: left;
}

.sidenav .menu li {
    height: 36px;
    position: relative;
    margin-left: 20px;
    cursor: pointer;
}

.sidenav .menu a {
    text-transform: uppercase;
    font-family: 'Quicksand',sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    color: #7258a1;
}

.post-title a:first-child,
.sidenav .menu a {
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sidenav .menu li a i {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding-left: 2px;
}

.post-title a:first-child,
.sidenav .menu li a:first-child {
    z-index: 2;
    background-color: #7258a1;
    color: #efefef;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    -webkit-transition: width .4s cubic-bezier(.8,.4,.4,.4);
    transition: width .4s cubic-bezier(.8,.4,.4,.4);
}

.post-title:hover a:first-child,
.sidenav .menu li:hover a:first-child {
    width: 100%;
}

.main-col {
    position: relative;
    z-index: 1;
    /*display: table-cell;*/
    /*width: 800px;*/
    padding-left: 200px;
    /*vertical-align: top;*/
}

.post-list {
    padding: 20px;
}

.posts-list .post-loop {
    margin-bottom: 40px;
}

.post-title {
    position: relative;
}

.post-title a:first-child {
    height: 2px;
    bottom: 0;
    top: auto;
    line-height: 0;
}

.post-title:hover a:first-child {
    width: 42%;
}

@media only screen and (max-width: 1000px) {
    .sidenav {
        width: 20px;
    }
    .main-col {
        padding-left: 160px;
    }
}