@charset "UTF-8";

/* ----------------------------------------------------------
   Loader
   ------------------------------------------------------- */

.loader-box {
    position: fixed;
    bottom: 42px;
    width: 120px;
    height: 120px;
    overflow:hidden;
    border-radius: 50%;
    opacity: 0;
    transition: opacity .3s cubic-bezier(.8,.4,.4,.4);
    /* Fix border-radius overflow webkit bug
    http://stackoverflow.com/questions/13476942/flexslider-border-radius-does-not-wrap-image-in-chrome-safari-but-will-in-fire/13477255#13477255 */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.loader-logo {
    position:absolute;
    top:50%;
    left:50%;
}

.loader-logo #canvasLoader {
    display: block;
    position: absolute;
    top: -75px;
    left: -75px;
}

.js-ajax-loading .loader-box {
    opacity: 1;
}


/*.js-ajax-loading .main {
    overflow: hidden;
}*/

.wrapper {
    -webkit-perspective: 100px;
    perspective: 100px;
}

.js-ajax-content {
/*    position: absolute;
    top: 0;
    right: 0;*/
    /*background-color: #efefef;*/
}

.js-ajax-loader {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 200px;
    width: 840px;
    text-align: center;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 46px;
    letter-spacing: 12px;
    font-weight: bold;
    font-variant: small-caps;
    text-transform: lowercase;
    text-shadow:
      1px 1px 1px rgba(180,180,180,.35),
      2px 1px 1px rgba(180,180,180,.30),
      3px 2px 1px rgba(180,180,180,.28),
      4px 2px 1px rgba(180,180,180,.22),
      5px 3px 1px rgba(180,180,180,.16),
      6px 4px 1px rgba(180,180,180,.12),
      7px 5px 1px rgba(180,180,180,.06),
      8px 5px 1px rgba(180,180,180,.02);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s;
}

.js-ajax-loading .js-ajax-loader {
    opacity: 1;
    visibility: visible;
}

/*.js-ajax-loading .sidenav .thenew-logo .t {
    opacity: 1;
}
*/

/*.js-ajax-loading .js-ajax-content-0 {*/
.js-stack-0 {
    position: absolute;
    left: 200px;
    top: 0;
    /*z-index: 1;*/
    -webkit-animation: stack 1.9s;
    animation: stack 1.9s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes stack {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    20% {
        /*-webkit-transform: translate3d(0, 0, -30px);*/
        -webkit-transform: translate3d(0, 0, -10px);
        opacity: .7;
    }
    100% {
        /*-webkit-transform: translate3d(-200px, 0, -30px);*/
        -webkit-transform: translate3d(0, 0, -10px);
        opacity: 0;
    }
}

/*.js-ajax-loading .js-ajax-content-1 {*/
.js-stack-1 {
    position: absolute;
    left: 200px;
    top: 0;
    /*z-index: 2;*/
    -webkit-animation: stackInsert .6s;
    animation: stackInsert .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-color: #efefef;
}

@-webkit-keyframes stackInsert {
    0% {
        -webkit-transform: translateX(200px);
        opacity: 0;
    }
    20% {
        /*-webkit-transform: translate3d(0, 0, 0);*/
        opacity: .4;
    }
    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}