@charset "UTF-8";

@import 'reset.css';
@import 'normalize.css';
@import 'normalize-common.css';
@import 'normalize-base.css';
@import 'normalize-forms.css';
@import 'objects.css';
@import 'thenew.css';