/* --- STYLES DE BASE --- */ 

 /* Conteneurs sémantiques de HTML 5 */
/* blockify some HTML5 elements for browsers without a specific HTML5 parser */
header, nav, footer, section, aside, article, figure, figcaption, video			{display: block;}

/* Page */ 
html { 
  font-size: 100%; /* Évite un bug d'IE 6-7. */ 
} 
body { 
  margin: 0 auto; 
  padding: 0em; /* Remettre à zéro si nécessaire. */ 
  font-family: Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif; 
  font-size: .9em; /* À adapter pour la police choisie. */ 
  line-height: 1.4; /* À adapter au design. */ 
  color: #EEE; 
  background-color: #1D1A21; 
  text-align: left;
} 
 
/* Titres */ 
h1, h2, h3, h4, h5, h6 { 
  margin: 1em 0 .3em 0; /* Rapproche le titre du texte. */ 
  line-height: 1.2; 
  font-weight: normal; /* Valeur par défaut : bold*/ 
  font-style: normal; 
} 
h1 { 
  font-size: 2em;
  margin: .1em 0 .5em 0;
} 
h2 { 
  font-size: 1.75em; 
  margin: 1em 0 .1em 0;
} 
h3 { 
  font-size: 1.25em;
  margin: .5em 0 .3em 0;
} 
h4 { 
  font-size: 1.2em; 
  margin: .4em 0 -0.2em 0;
} 
 
/* Listes */ 
ul, ol { 
  margin: .75em 0 .75em .75em; 
  padding: 0; 
} 
li, ul {
  list-style: none;	
}

/* Paragraphes */ 
p { 
  margin: .75em 0; /* Marges plus faibles que par défaut. */ 
} 
address { 
  margin: .75em 0; 
  font-style: normal; 
} 
 
/* Liens */ 
a { 
  text-decoration: none; 
} 
a:link { 
  color: #91A8B3; 
} 
a:visited { 
  color: #91A8B3; 
} 
a:hover, a:focus, a:active { 
  color: #DDDDED;
  text-shadow: 0px 0px 5px #111;
} 
/* Pas de bordure pointillée ou halo lors du clic sur un lien */ 
a:active, * { 
  outline: medium none; 
} 
/* Pas de bordure autour des images dans les liens */ 
a img { 
  border: none; 
}
/* Divers éléments de type en-ligne */ 
em { 
  font-style: italic; 
} 
strong { 
  font-weight: bold; 
} 
small {
  line-height: 1.5em;
}
 
/* Formulaires */ 
form, fieldset { 
  margin: 0; 
  padding: 0; 
  border: none; 
} 
input, button, select { 
  vertical-align: middle; /* Solution pb. d'alignement. */ 
}


/* --- STYLES DE BASE SUPPLÉMENTAIRES --- */ 
 
/* Met en évidence les abréviations (ayant un attribut title) */ 
abbr[title] { 
  border-bottom: 1px dotted; 
  cursor: help; 
} 
 
/* Met en évidence les citations */ 
q, cite { 
  font-style: italic; 
} 
q cite, q q { 
  font-style: normal 
} 
 
/* Supprime les guillemets automatiques (citations courtes) */ 
q { 
  quotes: none; 
} 
q:before, q:after { 
  content: ""; /* Nécessaire pour Safari/Chrome */ 
} 
 
/* Rapproche les paragraphes dans les listes et citations */ 
blockquote p, li p { 
  margin: .5em 0; 
} 

/* Met en évidence les codes informatiques */ 
code {
  font-family: Courier, "Courier New", FreeMono, "Liberation Mono", monospace;
  font-size: 1.1em;
  color: #eee;
  background: #222;
} 
 
/* Styles de base pour les listes de définition */ 
dl { 
  margin: .75em 0; 
} 
dt { 
  margin: .75em 0 0 0; 
  font-weight: bold; 
} 
dd { 
  margin: .25em 0 .25em 32px; 
} 
 
/* Mise en forme simple pour les tableaux */ 
table { 
  margin: 0; 
  border: 1px solid gray; /* Pas de bordure = "none". */ 
  border-collapse: collapse; /* Valeur par défaut: "separate". */ 
  border-spacing: 0; 
} 
table td, table th { 
  padding: 4px; /* Pas de retrait autour du texte = "0". */ 
  border: 1px solid #ccc; /* Pas de bordure = "none". */ 
  vertical-align: top; /* Valeur par défaut: "middle" */ 
}

/* Selection */
::-moz-selection{
	background: #1a394a;
	color:#eee;
}
::selection {
	background:#1a394a;
	color:#eee;
}

/* Classes persos */
 .clear {
  clear: both;
}
.center {
  text-align: center;
}
.hidden, hr {
  display: none;
}