html,
body {
min-height: 100%;
}

/*  --------------------------------------------------
  = Messages
  -------------------------------------------------- */

.fon_messages {
    display: block;
    width: 95%;
    margin: 0 auto;
}

.fon_messages > li {
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(0,0,0,.2);
}

.fon_messages p {
    display: block;
    padding: 0 0 0 20px;
    font-size: 12px;
    line-height: 14px;
}

.error {
    border: 1px solid #bc5752;
}

.success {
    border: 1px solid #8BDC7A;
}

.error p {
    color: #C4685A;
    background: url(../img/icons/error_icon.png) left 2px no-repeat;
}

.success p {
    color: #75C95F;
    background: url(../img/icons/success_icon.png) left top no-repeat;
}

/*
Name: Common Objects
URL: http://github.com/Darklg/CSSNormalize
Version: 1.6.3
License: MIT
*/

/* ----------------------------------------------------------
   Images masquées (Pour push, etc)
   ------------------------------------------------------- */

.le_btn,
.ir {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: left;
    text-indent: -9999px;
    white-space: nowrap;
    background: transparent no-repeat top left;
    *text-indent: 0;
    *color: transparent;
    *font-size: 1px;
    *line-height: 0;
    *display: inline;
    *zoom: 1;
}

/* ----------------------------------------------------------
   Bouton image
   ------------------------------------------------------- */

/* Reset */

.le_btn {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

/* :Hover */

.le_btn:focus,
.le_btn:hover {
    opacity: 0.50;
    filter: alpha(opacity=50);
}

/* ----------------------------------------------------------
   "..." automatique à la fin d'une ligne
   ------------------------------------------------------- */

.non_depassement {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* ----------------------------------------------------------
   Suppression d'élément
   ------------------------------------------------------- */

.suppression_element {
    position: absolute;
    top: -9999px;
    left: -9999px;
    font-size: 1px;
    color: transparent;
}

/* ----------------------------------------------------------
   Objet Tiroir
   ------------------------------------------------------- */

.wdrw {
    position: relative;
}

.wdrw > a {
    display: block;
    height: 100%;
    line-height: inherit;
}

.wdrw .submenu {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 1;
    opacity: 0;
    background-color: #fff;
}

.wdrw .submenu-r {
    right: 0;
    left: auto;
}

.wdrw:hover {
    z-index: 1000;
}

.wdrw > a:focus + .submenu,
.wdrw:hover .submenu {
    visibility: visible;
    z-index: 999;
    opacity: 1;
}

/* ----------------------------------------------------------
   Block Media : Bloc avec flottant
   From @Stubbornella : http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
   ------------------------------------------------------- */

.bmedia,
.bmedia-right,
.bm-cont {
    display: block;
    zoom: 1;
    overflow: hidden;
    _overflow: visible;
}

.bmedia >:first-child {
    float: left;
    margin-right: 10px;
}

.bmedia-right >:first-child {
    float: right;
    margin-left: 10px;
}

/* ----------------------------------------------------------
   Barre d'avancement
   ------------------------------------------------------- */

.lvl-barre {
    display: inline-block;
    position: relative;
    margin: 3px;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
}

.lvl-barre .bar,
.lvl-barre:before {
    position: absolute;
}

.lvl-barre:before {
    content: '';
    z-index: 9;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    border: 3px solid #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.lvl-barre .bar {
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    max-width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0) no-repeat 0 0;
    background-image: -moz-linear-gradient(top,rgba(0,0,0,0), rgba(0,0,0,0.2) );
    background-image: -o-linear-gradient(top,rgba(0,0,0,0), rgba(0,0,0,0.2) );
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,0) ),color-stop(1,rgba(0,0,0,0.2) ));
    background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2) );
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2) );
    -webkit-background-clip: border;
    -moz-background-clip: border;
    background-clip: border;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
}

/* Style démo */

.lvl-barre {
    width: 100px;
    height: 15px;
}

.lvl-barre:before {
    border-color: #F0F0F0;
}

.lvl-barre .bar {
    background-color: red;
}

/*  --------------------------------------------------
  = Divers
  -------------------------------------------------- */

code {
    padding: 2px 4px;
    border: 1px solid #E1E1E8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 12px;
    color: #dc3522;
    background-color: #F7F7F9;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
}

/*  --------------------------------------------------
  = Transitions
  -------------------------------------------------- */

a {
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  -moz-transition:    color .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition:      color .2s ease-in-out, background-color .2s ease-in-out;
  transition:         color .2s ease-in-out, background-color .2s ease-in-out;
}

/*  --------------------------------------------------
  = Links
  -------------------------------------------------- */

a:hover {
    text-decoration: none;
}


/* Selection (can't merge the two selectors) */

::-moz-selection {
    color: #efefef;
    background: #7258a1;
}

::selection {
    color: #efefef;
    background: #7258a1;
}

/*  --------------------------------------------------
  = Hacks
  -------------------------------------------------- */

/* Micro clearfix hack */
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}
