* {
	margin: 0;
	padding: 0;
}
body{
	background: url(http://www.thenew.fr/works/captainravage/ravageprod/img/fond_header.jpg) top center repeat-x #ecedd8;
	font-family: Corbel, Helvetica, Verdana, Geneva, Arial, sans-serif;
}
a img { border: none;}
a{ color: #f32564; text-decoration: none;}
a:hover, a:active { text-decoration: underline;}
a:visited{ color: #b30943;}

#principal{
	width: 1000px;
	margin: 0 auto;
}
#header{
	background: url(http://www.thenew.fr/works/captainravage/ravageprod/img/header.jpg) no-repeat;
	height: 362px;
}
#footer{
	background: #edfffa;
	color: #f32564;
	border-top: #f32564 solid 3px;
	height: 30px;
	padding: 15px 0 10px 0;
	text-transform: uppercase;
	text-align: center;
}


/*menu*/

ul#menu{
	height: 40px; width: 600px;
	list-style: none;
	padding: 60px 0 0 350px;
	}
	ul#menu li a{
		display: block;
		float: left;
		font-size: 1.2em;
		text-align:center;
		width: 100px;
		margin: 10px;
	}
	ul#menu li.norm a{
		background: #edfffa;
	}
	ul#menu li.open a{
		background: #f32564;
		color: #edfffa;
		}
		ul#menu li a.txt{
		height: 30px;
		padding-top: 8px;
		}
		ul#menu li a img.logoravage{
		height: 40px;
			}
			ul#menu li.norm a:hover, ul#menu li.norm a:active{
				border-bottom: #f32564 solid 6px;
				text-decoration: none;
			}
			ul#menu li.open a:hover, ul#menu li.open a:active{
				text-decoration: none;
			}

/*menu ravage*/

ul#menuravage {
	height: 40px; width: 500px;
	list-style: none;
	padding: 160px 0 0 350px;
	}
	ul#menuravage li a{
		display: block;
		float: left;
		font-size: 1.2em;
		text-align:center;
		width: 100px;
		margin: 10px;
	}
	ul#menuravage li.norm a{
		background: #edfffa;
	}
	ul#menuravage li.open a{
		background: #f32564;
		color: #edfffa;
		}
		ul#menuravage li a.txt{
		height: 30px;
		padding-top: 8px;
		}
		ul#menuravage li a img.logoravage{
		height: 40px;
			}
			ul#menuravage li.norm a:hover, ul#menuravage li.norm a:active{
				border-bottom: #f32564 solid 6px;
				text-decoration: none;
			}
			ul#menuravage li.open a:hover, ul#menuravage li.open a:active{
				text-decoration: none;
			}


 /*fin menu*/

#contenu{
	background: url(http://www.thenew.fr/works/captainravage/ravageprod/img/fond_contenu.jpg) center repeat-y;
	padding-left: 120px;
	padding-right: 120px;
	padding-top: -200px;
	padding-bottom: 20px;
}

.centre{
	text-align: center;
}
.screen{
	margin: 5px;
	border-bottom: #FFFFFF solid 6px;
}
.screen:hover{
	border-bottom: #f32564 solid 6px;
    filter : alpha(opacity=60);
    -moz-opacity : 0.6;
    opacity : 0.6; 
}
.clear { clear: both;}